/* Создайте стили для светлой темы, используя селектор .light и переменные CSS */
:root[data-theme="light"] {
  --colorNeutralBackground5: #ebebeb;
  --colorNeutralBackground4: #f0f0f0;
  --colorNeutralBackground3: #f5f5f5;
  --colorNeutralBackground2: #fafafa;
  --colorNeutralBackground1: #ffffff;
  --shadow-box: #fff;
  --text: #333333;
  --input: #ffffff;
  --border: #cccccc;
  --button: #007bff;
  --button-text: #ffffff;

  --colorBrandBackground: #0f6cbd;
  --colorBrandBackgroundHover: #115ea3;
  --colorBrandBackgroundPressed: #0c3b5e;
  --colorBrandBackgroundSelected: #0f548c;

  --colorBrandForegroundLink: #115ea3;
  --colorBrandForegroundLinkHover: #0f548c;
  --colorBrandForegroundLinkPressed: #0c3b5e;
  --colorBrandForegroundLinkSelected: #115ea3;
}

/* Создайте стили для темной темы, используя селектор .dark и переменные CSS */
:root[data-theme="dark"] {
  --colorNeutralBackground5: #000000;
  --colorNeutralBackground4: #0a0a0a;
  --colorNeutralBackground3: #141414;
  --colorNeutralBackground2: #1f1f1f;
  --colorNeutralBackground1: #292929;
  --shadow-box: #333333;
  --text: #f0f0f0;
  --input: #444444;
  --border: #666666;
  --button-text: #f0f0f0;

  --colorBrandBackground: #5b5fc7;
  --colorBrandBackgroundHover: #4f52b2;
  --colorBrandBackgroundPressed: #383966;
  --colorBrandBackgroundSelected: #444791;

  --colorBrandForegroundLink: #479ef5;
  --colorBrandForegroundLinkHover: #62abf5;
  --colorBrandForegroundLinkPressed: #2886de;
  --colorBrandForegroundLinkSelected: #479ef5;
}

.shadow-box {
  background-color: var(--shadow-box);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  border-radius: 4px;
}

/* Создайте общие стили для контейнера, заголовка, формы, группы ввода, метки, поля ввода, выбора и кнопки */
.container {
  background-color: var(--container);
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  font-weight: bold;
}

input,
select {
  background-color: var(--input);
  color: var(--text);
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
}

/* Примените стили в зависимости от значения переменной --background */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--colorNeutralBackground1);
  color: var(--text);
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: var(--button-text);
  background-color: var(--colorBrandBackground);
  cursor: pointer;
}

button:hover {
  background-color: var(--colorBrandBackgroundHover);
}

button:active {
  background-color: var(--colorBrandBackgroundPressed);
}

button:selection {
  background-color: var(--colorBrandBackgroundSelected);
}

.link {
  color: var(--colorBrandForegroundLink);
  text-decoration: none;
}

.link:hover {
  color: var(--colorBrandForegroundLinkHover);
  text-decoration: underline;
}

.link:active {
  color: var(--colorBrandForegroundLinkPressed);
}

.link::selection {
  color: var(--colorBrandForegroundLinkSelected);
}

#root {
  height: 100ch;
  width: 100cw;
}